body {
	background-color: #f5f5f5;
}

#listDropdown {
	width: 150px;
}

#address {
	width: max-content;
}

#address:hover {
	cursor: pointer;
}

#website {
	width: max-content;
}

#website:hover {
	cursor: pointer;
}



